
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



body {
  font-family: $font-family-sans-serif;
  color: $font-color;
  background: $body-bg;
}

h1,h2,h3,h4,h5 {
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: $heading-color;
}

h2 {
  font-size: 2.15rem;
}

h3 {
  font-size: 1.5rem;
}

// Transitions
.slide-fade {
  margin-top: 1rem;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

// Form

.custom-select, .form-control {
  font-size: 0.85rem;
  font-weight: 600;
  border-color: $light-green;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
}


.btn {
  font-weight: 700;
  padding: 0.7rem 1.25rem;
}

label {
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0;
  margin-top: 1rem;
  text-transform: uppercase;
}


// Layout

.block {
  padding: 2.5rem 0;
}

.course {
  background: $white;
}

.company {
  background: $beige;
}

.participants {
  background: $light-grey;
}